h1 {
    color: rgb(141, 137, 137);
}

body {
    background-color: lightgray;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
